n8n_workflows/wf_telegram_ping_test.json
{
  "name": "PsyCaseAuto — Telegram 핑 테스트",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "psycaseauto-ping-test",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "PsyCaseAuto Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message || {};\nconst text = (msg.text || '').trim().toLowerCase();\nconst chatId = String(msg.chat?.id || '');\n\nconst type = text === 'ping' ? 'ping' : 'unknown';\n\nreturn [{ json: { chatId, text: msg.text || '', type } }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "입력 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ping-001",
              "leftValue": "={{ $json.type }}",
              "rightValue": "ping",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "ping 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=pong 🟢 PsyCaseAuto 연결 확인됨 ({{ $now.toFormat('HH:mm') }})",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "응답 — pong",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 180],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "PsyCaseAuto Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "알 수 없는 명령입니다. 'ping'을 입력하면 연결을 확인할 수 있습니다.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "응답 — unknown",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 420],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "PsyCaseAuto Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "입력 파싱", "type": "main", "index": 0 }]
      ]
    },
    "입력 파싱": {
      "main": [
        [{ "node": "ping 여부", "type": "main", "index": 0 }]
      ]
    },
    "ping 여부": {
      "main": [
        [{ "node": "응답 — pong", "type": "main", "index": 0 }],
        [{ "node": "응답 — unknown", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "maxConcurrency": 1,
    "errorWorkflow": "={{ $env.ERROR_WORKFLOW_ID }}"
  },
  "versionId": "a1b2c3d4-ffff-4fff-afff-000000000001",
  "meta": {
    "instanceId": "psycaseauto-local"
  },
  "tags": ["PsyCaseAuto", "테스트"]
}
